<div class="_flexfixedsize" style="margin:0!important;">
    <div class="ui black label" style="width:100%; opacity:0.7; text-align:center; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
        Download model data
    </div>
</div>
<div class="ui segment _flex _flexcontainer _column" id="exportmaindiv" style="width:100%; height:100%;">

    <div class="ui segment _flexfixedsize" id="infodiv">
        <h3>Other models</h3>
        <div class="ui">
            COV-OBS and CHAOS models are downloadable on the website of the <a href="http://www.space.dtu.dk/english/Research/Scientific_data_and_models/Magnetic_Field_Models">Space Institute of the Technical University of Denmark</a>.
        </div>
    </div>

    <div class="ui segment _flexfixedsize" id="archive">
        <h3>Archives</h3>
        <div class="ui">
            Outdated published scientific models.
        </div>
        <div class="_flex archivecontainer" style="width: 19rem; min-width: 19rem;">
        </div>
    </div>

</div>

<script>

    $( document ).ready(function() {
        mc.activeTabController.documentReady();
    });

</script>