<div class="_flexcontainer _column" style="width:100%; height:100%;">
  <div class="_flexfixedsize" style="margin:0!important;">
    <div class="ui black label" style="width:100%; opacity:0.7; text-align:center; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
          Earth's core surface visualization
    </div>
  </div>
  <div class="ui segment _flex" style="height:10rem; padding:0; margin: 0!important; border-bottom-left-radius: 0; border-top-right-radius: 0; border-top-left-radius: 0;">
    <div id="globediv" style="height:100%; width:100%;"></div>
  </div>
  <div class="_flexfixedsize" id="timeslider" style="margin: 0!important; "></div>
</div>

<script>

  $( document ).ready(function() {
      mc.activeTabController.documentReady();
  });

</script>
