<div style="position:absolute; top:0.5rem; right:0.5rem; z-index:100;">
   <button class="ui inverted mini black icon compact button close">
    <i class="remove icon"></i>
  </button>
</div>

<div class="ui inverted form" style="margin:0;">
  <h4 class="ui center aligned inverted dividing header">Color Scale</h4>

  <div class="inline field" style="margin-bottom: 0.25rem;">
    <label>Color scale: </label>
    <div class="ui selection inverted dropdown colorscaledropdown">
      <input type="hidden" name="colorscale">
      <i class="dropdown icon"></i>
      <div class="default text"></div>
      <div class="menu"></div>
    </div>
  </div>

  <div class="two fields" style="margin-bottom: 0.25rem; margin-top:1rem; font-size:0.8rem; ">
      <div class="inline field">
        <div class="ui inverted checkbox invertcolorscale">
          <input type="checkbox" tabindex="0">
          <label>Invert colors</label>
        </div>
      </div>
      <div class="inline field">
        <div class="ui inverted checkbox logcolorscale">
          <input type="checkbox" tabindex="0">
          <label>Log colors</label>
        </div>
      </div>
  </div>

  <div class="two fields" style="margin-bottom: 0.1rem; font-size:0.8rem; ">
    <div class="field">
      <div class="ui inverted checkbox minoverlay">
        <input type="checkbox" tabindex="0">
        <label>Min</label>
      </div>
    </div>
    <div class="field">
      <div class="ui inverted checkbox maxoverlay">
        <input type="checkbox" tabindex="0">
        <label>Max</label>
      </div>
    </div>
  </div>

  <div class="two fields" style="margin-bottom: 0.5rem; font-size:0.8rem; ">
    <div class="field minoverlay">
      <div class="ui inverted action disabled input">
        <input type="text" value="" class="minoverlayinput">
        <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
      </div>
    </div>
    <div class="field maxoverlay" id="test">
      <div class="ui inverted action disabled input">
        <input type="text" value="" class="maxoverlayinput">
        <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
      </div>
    </div>
  </div>

  <div class="two fields" style="margin-bottom: 0.1rem; font-size:0.8rem;">
    <div class="field">
      <div class="ui inverted checkbox centeroverlay">
        <input type="checkbox" tabindex="0">
        <label>Center</label>
      </div>
    </div>
    <div class="field">
      <div class="ui inverted checkbox extentoverlay">
        <input type="checkbox" tabindex="0">
        <label>Extent</label>
      </div>
    </div>
  </div>
  <div class="two fields" style="margin-bottom: 0.5rem; font-size:0.8rem;">
    <div class="field centeroverlay">
      <div class="ui inverted action disabled input">
        <input type="text" value="" class="centeroverlayinput">
        <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
      </div>
    </div>
    <div class="field extentoverlay" id="test">
      <div class="ui inverted action disabled input">
        <input type="text" value="" class="extentoverlayinput">
        <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
      </div>
    </div>
  </div>

  <h4 class="ui center aligned inverted dividing header">Text size</h4>

  <div class="field" style="text-align:center;">
    <div class="ui grey compact icon buttons">
      <button class="ui grey compact icon button smallerfontbtn" data-tooltip="Smaller text"><i class="minus circle icon"></i></button>
      <button class="ui grey compact icon button resetfontbtn" data-tooltip="Reset text size"><i class="selected radio icon"></i></button>
      <button class="ui grey compact icon button biggerfontbtn"  data-tooltip="Bigger text"><i class="plus circle icon"></i></button>
    </div>
  </div>


</div>
