<div class="_flexfixedsize ui black label divheader">
    Length-of-day variation
</div>
<div id="lodplotdiv" class="ui segment _flex _stretch plot"></div>

<script>

    $( document ).ready(function() {
        mc.activeTabController.documentReady();
    });

</script>
