<div class="_column _flexcontainer" style="height:100%; padding:0">
  <div class="_flexfixedsize" style="margin:0!important;">
    <div class="ui black label" style="width:100%; opacity:0.7; text-align:center; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
          Virtual or geomagnetic observatories visualization
    </div>
  </div>
  <div class="ui segment _flexcontainer" style="width:100%; height:100%; padding:0; border-bottom-left-radius: 0; margin: 0!important; border-top-right-radius: 0; border-top-left-radius: 0;">
    <div class="_flex _stretch" style="width: 40rem; height: 50rem; position: relative; margin: 0 1.5rem 0 0!important;">
      <div class="_flexcontainer _column" style="width:100%;">
        <div class="_flexfixedsize _stretch">
          <div class="obstypechoice" style="text-align:center;"></div>
        </div>
        <div class="_flex" style="width:100%; position: relative;">
          <div id="globediv" style="width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="_flex" style="width: 48rem; height: 50rem; position: relative; margin: 0 2rem 0 0!important; padding:0.5rem;">
      <div class="_flexcontainer _column obsplotcontainer" style="width:100%; height:100%;">
        <div class="_flex" id="obsplotdiv_r" data-tooltip="drag to Zoom, shift+drag to Pan" data-position="left center" style="height:32%; padding:0; position:relative; margin:0!important;"></div>
        <div class="_flex" id="obsplotdiv_th" data-tooltip="drag to Zoom, shift+drag to Pan" data-position="left center" style="height:32%; padding:0; position:relative; margin:0!important;"></div>
        <div class="_flex" id="obsplotdiv_ph" data-tooltip="drag to Zoom, shift+drag to Pan" data-position="left center"style="height:32%; padding:0; position:relative; margin:0!important;"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    mc.activeTabController.documentReady();
  });


</script>
