<div class="_flexfixedsize ui black label divheader">
    Lowes-Mauersberger spectra
</div>
<div id="spectraplotdiv" class="ui segment _flex _stretch plot"></div>

<script>

    $( document ).ready(function() {
        mc.activeTabController.documentReady();
    });

</script>