<div class="_column _flexcontainer" style="width:100%; height:100%; padding:0; margin-bottom: 0!important;">
  <div class="_flexfixedsize" style="margin:0!important;">
    <div class="ui black label" style="width:100%; opacity:0.7; text-align:center; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
          Spherical harmonics coefficients visualization
    </div>
  </div>
  <div class="ui segment _flex" style="padding:0; position:relative; margin:0!important; border-bottom-left-radius: 0; border-top-right-radius: 0; border-top-left-radius: 0;">
    <div id="spherharmplotdiv" style="width:100%; height:100%; position:absolute;"></div>
  </div>
</div>

<div class="secondaryoptions" style="width:100%; text-align:center;">
  <div class="ui bottom pointing blue basic label" style="width: 100%; text-align:center;  margin-bottom:0.8rem;">
    coef
  </div>
  <div class="ui compact selection dropdown coefchoicedropdown" style="width: 100%; position:relative; top:-0.4rem;">
    <i class="dropdown icon"></i>
    <div class="default text"></div>
    <div class="menu"></div>
  </div>
  <br>
  <div class="ui bottom pointing blue basic label" style="width: 100%; text-align:center;  margin-bottom:0.5rem; margin-top:1rem;">
    l
  </div>
  <div class="ui compact selection dropdown lchoicedropdown" style="width: 100%;">
    <i class="dropdown icon"></i>
    <div class="default text">l</div>
    <div class="menu"></div>
  </div>
  <br>
  <div class="ui bottom pointing blue basic label" style="width: 100%; text-align:center;  margin-bottom:0.5rem; margin-top:1rem;">
    m
  </div>
  <div class="ui compact selection dropdown mchoicedropdown" style="width: 100%;">
    <i class="dropdown icon"></i>
    <div class="default text">m</div>
    <div class="menu"></div>
  </div>
</div>

<script>

$( document ).ready(function() {
  mc.activeTabController.documentReady();
});

</script>
