<div class="_column _flexcontainer" style="width:100%; height:100%; padding:0; margin-bottom: 0!important;">
  <div class="_flexfixedsize" style="margin:0!important;">
    <div class="ui black label" style="width:100%; opacity:0.7; text-align:center; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
          Timeseries cross-section visualization
    </div>
  </div>
  <div class="ui segment _flex" style="padding:0; height:100%; position:relative; margin:0!important; border-bottom-left-radius: 0; border-top-right-radius: 0; border-top-left-radius: 0;">
    <div id="chartcontainer" style="width:100%; height:100%; padding:0; position:relative; margin:0!important;"></div>
  </div>
</div>

<div class="secondaryoptions" style="width:100%; text-align:center;">
    <div id="cut_div" class="_flexcontainer _column">
        <div class="ui bottom pointing blue basic label" style="width: 100%; text-align:center;  margin-bottom:0.3rem;">
          Cutting plane
        </div>

        <div style="width:100%;">
            <div class="ui selection compact dropdown thetaphidropdown" tabindex="0" style="width: 1rem; display:inline-block;text-align: right; border-bottom-right-radius:0; border-top-right-radius:0; margin-right: -0.1rem; padding: 0.78571429em 1.7em 0.78571429em 0.5em;">
              <div class="text">Θ</div>
              <i class="dropdown icon" style="padding:0.78571429em 0.2em"></i>
              <div class="menu transition hidden" tabindex="-1">
                <div class="item" value="theta" style="padding: 0.78571429rem!important">Θ</div>
                <div class="item" value="phi" style="padding: 0.78571429rem!important">Φ</div>
              </div>
            </div>=
            <div class="ui small input" style="display:inline-block; max-width: 4rem; margin-left: -0.1rem;">
              <input class="cutvalueinput" type="text" placeholder="0" style="max-height: 2.6rem;border-bottom-left-radius:0; border-top-left-radius:0;">
            </div>
            <div style="font-size:1.3rem; display:inline-block;"><sup>&deg;</sup></div>
        </div>
    </div>
    <div id="display_div" class="_flexcontainer _column" style="margin-top:0.5rem;">
        <div class="ui bottom pointing blue basic label" style="width: 100%; text-align:center;  margin-bottom:0.3rem;">
            Display variable
        </div>
        <div class="_flexcontainer" style="width:100%;">
            <div class="ui radio checkbox _flex">
                <input name="yCoord" type="radio" value="angle" checked>
                <label>Θ</label>
            </div>
            <div class="ui radio checkbox _flex">
                <input name="yCoord" type="radio" value="s_north">
                <label>s<sub>N</sub></label>
            </div>
            <div class="ui radio checkbox _flex">
                <input name="yCoord" type="radio" value="s_south">
                <label>s<sub>S</sub></label>
            </div>
        </div>
    </div>
    <div class="ui primary tiny button" style="margin-top:0.5rem; width: 100%;">
      Ok
    </div>
</div>


<script>
  $( document ).ready(function() {
    mc.activeTabController.documentReady();
  });
</script>
