.loading {
    cursor: progress;
}

.fullscreen {
  position: fixed !important;
  top:0; left:0;
  min-width: 100%;
  min-height: 100%;
  z-index:10000;
  background: rgba(255,255,255,1);
}

.globediv {
  margin:0;
  padding:0;
  vertical-align: top;
}

.inverted.accordion .title {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.inverted.accordion .title:first-child {
  border-top: none;
}

.inverted.accordion {
  border-radius: 0.25rem;
  background: rgba(255,255,255,0.1);
  font-size: 0.9rem;
}

.inverted.accordion .content {
  padding: 0rem 0.5rem 0.5rem 0.5rem !important;
}

.accordion .disabled.title {
  cursor: default;
  background-color: #dcddde !important;
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

.inverted.ui.dropdown {
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,1);
}

.inverted.ui.dropdown * {
  color: rgba(255,255,255,0.9) !important;
  background: rgba(50,50,50,0.75) !important;
}

.inverted.ui.dropdown .active.selected.item {
  color: rgba(255,255,255,1) !important;
  background: rgba(120,120,120,0.95) !important;
}

.inverted.ui.dropdown .menu:after {
  content: initial;
}

/* Custom input */
.inverted.ui.input input {
  background: rgba(0,0,0,0.2) !important;
  color: rgba(255,255,255,0.9) !important;
}

/*Custom black checkbox*/

.ui.checkbox.inverted .box::before,
.ui.checkbox.inverted label::before {
  background: rgba(50, 66, 73, 0.5);
  border-color: rgba(150, 200, 218, 1);
}

/*--------------
      Label
---------------*/

/* Inside */

.ui.checkbox.inverted label,
.ui.checkbox.inverted + label {
  color: rgba(255, 255, 255, 0.87);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

/* Outside */

.ui.checkbox.inverted + label {
  vertical-align: middle;
}

/*--------------
      Hover
---------------*/

.ui.checkbox.inverted .box:hover::before,
.ui.checkbox.inverted label:hover::before {
  background: rgba(0,0,0,0.85);
  border-color: rgba(150, 200, 218, 1);
}

.ui.checkbox.inverted label:hover,
.ui.checkbox.inverted + label:hover {
  color: rgba(255, 255, 255, 0.8);
}

/*--------------
      Down
---------------*/

.ui.checkbox.inverted .box:active::before,
.ui.checkbox.inverted label:active::before {
  background: rgba(50, 66, 73, 0.7);
  border-color: rgba(150, 200, 218, 1);
}

.ui.checkbox.inverted .box:active::after,
.ui.checkbox.inverted label:active::after {
  color: rgba(255, 255, 255, 0.8);
}

.ui.checkbox.inverted input:active ~ label {
  color: rgba(255, 255, 255, 0.95);
}

/*--------------
     Focus
---------------*/

.ui.checkbox.inverted input:focus ~ .box:before,
.ui.checkbox.inverted input:focus ~ label:before {
  background: rgba(0,0,0,0.7);
  border-color: rgba(150, 200, 218, 0.8);
}

.ui.checkbox.inverted input:focus ~ .box:after,
.ui.checkbox.inverted input:focus ~ label:after {
  color: rgba(255, 255, 255, 0.8);
}

.ui.checkbox.inverted input:focus ~ label {
  color: rgba(255, 255, 255, 0.95);
}

/*--------------
     Active
---------------*/

.ui.checkbox.inverted input:checked ~ .box:before,
.ui.checkbox.inverted input:checked ~ label:before {
  background: rgba(0,0,0,0.5);
  border-color: rgba(150, 200, 218, 0.35);
}

.ui.checkbox.inverted input:checked ~ .box:after,
.ui.checkbox.inverted input:checked ~ label:after {
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
}

.ui.checkbox.radio.inverted input:checked ~ .box:after,
.ui.checkbox.radio.inverted input:checked ~ label:after {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

/*--------------
  Indeterminate
---------------*/

.ui.checkbox.inverted input:not([type=radio]):indeterminate ~ .box:before,
.ui.checkbox.inverted input:not([type=radio]):indeterminate ~ label:before {
  background: rgba(0,0,0,0.2);
  border-color: rgba(150, 200, 218, 0.35);
}

.ui.checkbox.inverted input:not([type=radio]):indeterminate ~ .box:after,
.ui.checkbox.inverted input:not([type=radio]):indeterminate ~ label:after {
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------
  Active Focus
---------------*/

.ui.checkbox.inverted input:not([type=radio]):indeterminate:focus ~ .box:before,
.ui.checkbox.inverted input:not([type=radio]):indeterminate:focus ~ label:before,
.ui.checkbox.inverted input:checked:focus ~ .box:before,
.ui.checkbox.inverted input:checked:focus ~ label:before {
  background: rgba(0,0,0,0.7);
  border-color: rgba(150, 200, 218, 0.8);
}

.ui.checkbox.inverted input:not([type=radio]):indeterminate:focus ~ .box:after,
.ui.checkbox.inverted input:not([type=radio]):indeterminate:focus ~ label:after,
.ui.checkbox.inverted input:checked:focus ~ .box:after,
.ui.checkbox.inverted input:checked:focus ~ label:after {
  color: rgba(255, 255, 255, 0.8);
}

/*--------------
    Read-Only
---------------*/

.ui.read-only.checkbox,
.ui.read-only.checkbox label {
  cursor: default;
}

/*--------------
     Disabled
---------------*/

.ui.disabled.checkbox .box:after,
.ui.disabled.checkbox label,
.ui.checkbox.inverted input[disabled] ~ .box:after,
.ui.checkbox.inverted input[disabled] ~ label {
  cursor: default !important;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.95);
}
/* end .squaredThree */
