<div style="position:absolute; top:0.5rem; right:0.5rem">
   <button class="ui inverted mini black icon compact button close">
    <i class="remove icon"></i>
  </button>
</div>
<div class="ui inverted accordion" style="width:25rem">

  <div class="title">
    <i class="dropdown icon"></i>
    Projection parameters
  </div>
  <div class="content">
    <div class="inline field">
      <label>Projection type</label>
      <div class="ui selection bottom pointing inverted dropdown projectiondropdown">
        <input type="hidden" name="projection">
        <i class="dropdown icon"></i>
        <div class="default text"></div>
        <div class="menu"></div>
      </div>
    </div>
    <div class="two fields" style="margin-bottom: 0.25rem;">
      <div class="inline field">
        <label>Angle between meridians: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
        <div class="meridianstepslider" style="font-size: 0.9rem;"></div>
      </div>
      <div class="inline field">
        <label>Angle between parallels: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
        <div class="parallelstepslider" style="font-size: 0.9rem;"></div>
      </div>
    </div>
      <div class="inline field" style="text-align: center;">
        -
      </div>
      <div class="inline field">
        <label>Coastline width: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
        <div class="coastwidthslider" style="font-size: 0.9rem;"></div>
      </div>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    <div class="ui inverted checkbox showoverlay">
      <input type="checkbox" tabindex="0">
      <label>&nbsp;</label>
    </div>
    Overlay
  </div>
  <div class="content">
    <div class="ui inverted form" style="margin:0;">

      <div class="inline field" style="margin-bottom: 0.25rem;">
        <label>Color scale: </label>
        <div class="ui selection bottom pointing inverted dropdown colorscaledropdown">
          <input type="hidden" name="colorscale">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu"></div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0.25rem;">
        <div class="inline field">
          <div class="ui inverted checkbox invertcolorscale">
            <input type="checkbox" tabindex="0">
            <label>Invert colors</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui inverted checkbox logcolorscale">
            <input type="checkbox" tabindex="0">
            <label>Log colors</label>
          </div>
        </div>
    </div>


      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field">
          <div class="ui inverted checkbox minoverlay">
            <input type="checkbox" tabindex="0">
            <label>Min</label>
          </div>
        </div>
        <div class="field">
          <div class="ui inverted checkbox maxoverlay">
            <input type="checkbox" tabindex="0">
            <label>Max</label>
          </div>
        </div>
      </div>
      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field minoverlay">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="minoverlayinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
        <div class="field maxoverlay">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="maxoverlayinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field">
          <div class="ui inverted checkbox centeroverlay">
            <input type="checkbox" tabindex="0">
            <label>Center</label>
          </div>
        </div>
        <div class="field">
          <div class="ui inverted checkbox extentoverlay">
            <input type="checkbox" tabindex="0">
            <label>Extent</label>
          </div>
        </div>
      </div>
      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field centeroverlay">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="centeroverlayinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
        <div class="field extentoverlay">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="extentoverlayinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    <div class="ui inverted checkbox showparticle">
      <input type="checkbox" tabindex="0">
      <label>&nbsp;</label>
    </div>
    Particle Flow
  </div>

  <div class="content">
    <div class="ui inverted form" style="margin:0;">

      <div class="two fields" style="margin-bottom: 0.25rem;">
        <div class="inline field">
          <label>Particles: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
          <div class="particlenumberslider" style="font-size: 0.9rem;"></div>
        </div>
        <div class="inline field">
          <label> : &nbsp;<span class="value" style="font-weight:bold;"></span></label>
          <div class="particledispearslider" style="font-size: 0.9rem;"></div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0.25rem;">
        <div class="inline field">
          <label>Particle tail: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
          <div class="particletailslider" style="font-size: 0.9rem;"></div>
        </div>
        <div class="inline field">
          <label>Particle sizes: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
          <div class="particlesizeslider" style="font-size: 0.9rem;"></div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0.25rem;">
        <div class="inline field">
          <label>Time step: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
          <div class="particledeltatslider" style="font-size: 0.9rem;"></div>
        </div>
        <div class="inline field">
          <label>Speed: &nbsp;
            <span class="yrpers" style="font-weight:bold;"></span>
            <span class="effectiveyrpers" style="font-weight:bolder; color:rgba(255,50,50,1);"></span>
          </label>
          <div class="animationspeedslider" style="font-size: 0.9rem;"></div>
        </div>
      </div>

      <div class="ui divider" style="margin: 0.75rem 0 0.25rem 0;"></div>


      <div class="inline field" style="display: inline-block; margin-bottom: 0.25rem;">
        <label>Color:</label>
        <div class="ui selection bottom pointing inverted dropdown flowcolorscaledropdown">
          <input type="hidden" name="flowcolorscale">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu"></div>
        </div>
      </div>

      <div class="inline field" style="display: inline-block; margin-bottom: 0.25rem;">
        <div class="ui compact selection bottom pointing inverted dropdown flowcolorscaledatadropdown" style="min-width:5rem">
          <input type="hidden" name="flowcolorscaledata">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu"></div>
        </div>
      </div>


      <div class="two fields" style="margin-bottom: 0.25rem;">
        <div class="inline field">
          <div class="ui inverted checkbox invertflowcolorscale">
            <input type="checkbox" tabindex="0">
            <label>Invert colors</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui inverted checkbox logflowcolorscale">
            <input type="checkbox" tabindex="0">
            <label>Log colors</label>
          </div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field">
          <div class="ui inverted checkbox minflow">
            <input type="checkbox" tabindex="0">
            <label>Min</label>
          </div>
        </div>
        <div class="field">
          <div class="ui inverted checkbox maxflow">
            <input type="checkbox" tabindex="0">
            <label>Max</label>
          </div>
        </div>
      </div>
      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field minflow">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="minflowinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
        <div class="field maxflow">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="maxflowinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
      </div>

      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field">
          <div class="ui inverted checkbox centerflow">
            <input type="checkbox" tabindex="0">
            <label>Center</label>
          </div>
        </div>
        <div class="field">
          <div class="ui inverted checkbox extentflow">
            <input type="checkbox" tabindex="0">
            <label>Extent</label>
          </div>
        </div>
      </div>
      <div class="two fields" style="margin-bottom: 0rem;">
        <div class="field centerflow">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="centerflowinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
        <div class="field extentflow" id="test">
          <div class="ui inverted action disabled mini input">
            <input type="text" value="" class="extentflowinput">
            <button class="ui black mini button" style="padding:0 0.25rem;">OK</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
