<table class="ui small very compact inverted table" style="margin:0;">
  <thead>
    <tr>
      <th colspan="3">
        Values
      </th>
      <th>
        <button class="ui inverted mini black icon compact button close">
          <i class="remove icon"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Overlay</b></td>
      <td class="right aligned" colspan="2"><span class="overlaymag"></span></td>
      <td><span class="overlayunit">[unit]</span></td>
    </tr>
    <tr>
      <td rowspan="3">
        <b>Flow</b>
      </td>
      <td>U<sub>&theta;</sub></td>
      <td class="right aligned"><span class="vectortheta"></span></td>
      <td><span class="vectorunit">[unit]</span></td>
    </tr>
    <tr>
      <td>U<sub>&Phi;</sub></td>
      <td class="right aligned"><span class="vectorphi"></span></td>
      <td><span class="vectorunit">[unit]</span></td>
    </tr>
    <tr>
      <td>&#8214;<b>U</b>&#8214;</td>
      <td class="right aligned"><span class="vectormag"></span></td>
      <td><span class="vectorunit">[unit]</span></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="4">Coordinates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">
        <b>Geographical</b>
      </td>
      <td>Longitude</td>
      <td class="right aligned"><span class="longitude"></span></td>
      <td>&deg;</td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td class="right aligned"><span class="latitude"></span></td>
      <td>&deg;</td>
    </tr>
    <tr>
      <td rowspan="2">
        <b>Spherical</b>
      </td>
      <td>&theta;</td>
      <td class="right aligned"><span class="theta"></span></td>
      <td>&deg;</td>
    </tr>
    <tr>
      <td>&Phi;</td>
      <td class="right aligned"><span class="phi"></span></td>
      <td>&deg;</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="4">
          <button class="ui tiny labeled icon fluid blue button drawprofilebtn">
            <i class="area chart icon"></i>
          Draw Profile
         </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" >
        <div id="profiledrawingarea" class="profiledrawingarea"> Profile Area </div>
      </td>
    </tr>
  </tbody>
</table>

