<div class="ui inverted form" style="margin:0.15rem; padding:0.5rem; background:rgba(255,255,255,0.1);">

  <div class="inline field">
    <label>Export format: </label>
    <div class="ui selection bottom pointing inverted compact dropdown exportformatdropdown">
      <input type="hidden" name="exportformat"/>
      <i class="dropdown icon"></i>
      <div class="default text"></div>
      <div class="menu">
        <div class="item" data-value="gif">gif</div>
        <div class="item" data-value="png">png</div>
        <div class="item" data-value="jpg">jpg</div>
      </div>
    </div>
  </div>

  <div class="inline field">
    <label>Quality: <span class="value"></span></label>
    <div class="videoqualityslider" style="font-size: 0.9rem;">
    </div>
  </div>

  <div class="ui tiny inverted header" style="margin:0;">Layers to export in video</div>

  <div class="two fields" style="margin:0;">
    <div class="inline field">
      <div class="ui inverted checkbox layeroverlay">
        <input type="checkbox" tabindex="0"/>
        <label>Overlay</label>
      </div>
    </div>
    <div class="inline field">
      <div class="ui inverted checkbox layerparticles">
        <input type="checkbox" tabindex="0"/>
        <label>Particles</label>
      </div>
    </div>
  </div>
  <div class="two fields" style="margin:0 0 0.5rem 0;">
    <div class="inline field">
      <div class="ui inverted checkbox layermap">
        <input type="checkbox" tabindex="0"/>
        <label>Map</label>
      </div>
    </div>
    <div class="inline field">
      <div class="ui inverted checkbox layerlegend">
        <input type="checkbox" tabindex="0"/>
        <label>Legend</label>
      </div>
    </div>
  </div>

  <div class="ui divider" style="margin: 0.5rem;"></div>

  <div class="inline field">
    <div class="ui inverted radio checkbox exportsnapshot">
      <input name="exporttimes" type="radio"/>
      <label>Export animation of current snapshot</label>
    </div>
    <br/>
    <div class="ui inverted radio checkbox exporttimeanimation">
      <input name="exporttimes" type="radio"/>
      <label>Export animation over years</label>
    </div>
  </div>

  <div class="inline field" style="margin-left:1rem;">
    <label>Snapshot duration: <span class="value"></span></label>
    <div class="animationdurationslider" style="font-size: 0.9rem;">
    </div>
  </div>
  <div class="inline field" style="margin-left:1rem;">
    <label>Export time interval: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
    <div class="exportintervalslider" style="font-size: 0.9rem;"></div>
  </div>
  <div class="inline field" style="margin-left:1rem;">
    <label>Time frames to export: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
    <div class="skiptimesslider" style="font-size: 0.9rem;"></div>
  </div>
  <div class="inline field" style="margin-left:1rem;">
    <label>Total animation duration: &nbsp;<span class="value" style="font-weight:bold;"></span></label>
    <div class="exporttotaltime" style="font-size: 0.9rem;"></div>
  </div>

  <div class="ui tiny inverted header progressloader">
    <div class="ui active centered inline text small loader">Loading</div>
  </div>

  <div class="ui divider" style="margin: 0.5rem;"></div>

  <div class="ui tiny compact buttons">
    <button class="ui tiny labeled icon blue button exportvideobtn">
      <i class="external icon"></i>
      Export
    </button>
    <button class="ui tiny button cancelexportvideobtn">
      Cancel
    </button>
    <a class="ui tiny labeled icon green button downloadvideobtn">
      <i class="download icon"></i>
      Download
    </a>
  </div>

  <div style="position:absolute; top:0; right:0">
     <button class="ui inverted mini black icon compact button close">
      <i class="remove icon"></i>
    </button>
  </div>

</div>
